<%= form_for(@cartitem) do |f| %>
  <% if @cartitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartitem.errors.count, "error") %> prohibited this cartitem from being saved:</h2>

      <ul>
      <% @cartitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
