<h1>All Items in Cart</h1>

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cartitems.each do |cartitem| %>
  <tr>
    <td><%= cartitem.item.name %></td>
    <td><%= cartitem.quantity %></td>
    <td><%= link_to 'Edit Quantity', edit_cartitem_path(cartitem) %></td>
    <td><%= link_to 'Remove', cartitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Continue Shopping', items_path %>
