<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @cartitem.item.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @cartitem.quantity %>
</p>


<%= link_to 'Edit', edit_cartitem_path(@cartitem) %> |
<%= link_to 'Back', cartitems_path %>
