<h1>Items In Cart</h1>

<p>

  <% if @cart.user %>
      <b>Buyer:</b>
      <%= @cart.user.email %>
  <% end %>
</p>

<p>

  <b>Status:</b>
  <% if @cart.status == 0 %>
      Unsubmitted
  <% end %>
  <% if @cart.status == 1 %>
      Submitted
  <% end %>
  <% if @cart.status == 2 %>
      Approved
  <% end %>
  <% if @cart.status == -1 %>
      Denied by Seller
  <% end %>

</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

  <% @cart.cartitems.each do |cartitem| %>
      <tr>
        <td><%= link_to cartitem.item.name, edit_cartitem_path(cartitem) %></td>
        <td><%= cartitem.item.price %></td>
        <td><%= cartitem.quantity %></td>
        <td><%= link_to 'Edit', edit_cartitem_path(cartitem) %></td>
        <td><%= link_to 'Delete', cartitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>


<% if current_user && current_user.is_seller %>

    <% if @cart.status == 1 %>
        <div class="btn">
          <%= link_to 'Approve', approve_cart_path(:cart_id => @cart.id) %>
        </div>

        <div class="btn">
          <%= link_to 'Deny', deny_cart_path(:cart_id => @cart.id) %>
        </div>
    <% end %>

    <div class="btn">
      <%= link_to 'Back', items_path %>
    </div>


<% else %>
    <div class="btn">
        <%= link_to 'Continue Shopping', items_path %>
    </div>


    <div class="btn">
      <%= link_to 'Place Order', submit_cart_path %>
    </div>
<% end %>


