<h1>Items In Cart</h1>

<p>

  <% if @cart.user %>
      <b>User:</b>
      <%= @cart.user.email %>
  <% end %>
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

  <% @cart.cartitems.each do |cartitem| %>
      <tr>
        <td><%= link_to cartitem.item.name, edit_cartitem_path(cartitem) %></td>
        <td><%= cartitem.item.price %></td>
        <td><%= cartitem.quantity %></td>
        <td><%= link_to 'Edit', edit_cartitem_path(cartitem) %></td>
        <td><%= link_to 'Delete', cartitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br/>

<% if current_user && current_user.is_seller %>
    <div class="btn">
      <%= link_to 'Approve', approve_cart_path(:cart_id => @cart.id) %>
    </div>


<% else %>
    <div class="btn">
        <%= link_to 'Continue Shopping', items_path %>
    </div>


    <div class="btn">
      <%= link_to 'Place Order', :method => submit_cart %>
    </div>
<% end %>


