<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cart.user %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @cart.cartitems.each do |cartitem| %>
      <tr>
        <td><%= cartitem.item.name %></td>
        <td><%= cartitem.item.price %></td>
        <td><%= cartitem.quantity %></td>
        <td><%= link_to 'Show', cartitem %></td>
        <td><%= link_to 'Edit', edit_cartitem_path(cartitem) %></td>
        <td><%= link_to 'Destroy', cartitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
