<h1>Catalog Items</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>

    <% if current_user && current_user.is_seller %>
        <th>Edit</th>
    <% else %>
        <th>Add to Cart</th>
    <% end %>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>

    <% if current_user && current_user.is_seller %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <% else %>
        <td><%= link_to 'Add to Cart', new_cartitem_path(:item_id => item.id) %></td>
  <% end %>
  </tr>
<% end %>
</table>
<br />



<% if current_user && current_user.is_seller %>

    <h1>Submitted Orders</h1>

    <table class="table">
      <tr>
        <th>Cart ID</th>
        <th>Buyer Email</th>
        <th>Show & Approve</th>
      </tr>

      <% @carts = all_submitted_carts %>
      <% @carts.each do |cart| %>

              <tr>
                <td><%= cart.id %></td>
                <td><%= cart.user.email %></td>
                <td><%= link_to 'Show', cart_path(:cart_id => cart.id) %></td>

              </tr>
      <% end %>
    </table>


    <h1>Approved Orders</h1>

    <table class="table">
      <tr>
        <th>Cart ID</th>
        <th>Buyer Email</th>
        <th>Show</th>
      </tr>

      <% @carts = all_approved_carts %>
      <% @carts.each do |cart| %>

              <tr>
                <td><%= cart.id %></td>
                <td><%= cart.user.email %></td>
                <td><%= link_to 'Show', cart_path(:cart_id => cart.id) %></td>
              </tr>
      <% end %>
    </table>


    <h1>Denied Orders</h1>

    <table class="table">
      <tr>
        <th>Cart ID</th>
        <th>Buyer Email</th>
        <th>Show</th>
      </tr>

      <% @carts = all_denied_carts %>
      <% @carts.each do |cart| %>

          <tr>
            <td><%= cart.id %></td>
            <td><%= cart.user.email %></td>
            <td><%= link_to 'Show', cart_path(:cart_id => cart.id) %></td>
          </tr>
      <% end %>
    </table>

    <div class="btn">
      <%= link_to 'New Item', new_item_path %>
    </div>

<% else %>
    <h1>Submitted Orders</h1>

        <table class="table">
            <tr>
                <th>Cart ID</th>
                <th>Show</th>
            </tr>

            <% @carts = all_submitted_carts %>
            <% @carts.each do |cart| %>

                <% if cart.user == current_user %>
                    <tr>
                        <td><%= cart.id %></td>
                        <td><%= link_to 'Show', cart_path(:cart_id => cart.id) %></td>
                    </tr>
                <% end %>
            <% end %>
    </table>


    <h1>Approved Orders</h1>

    <table class="table">
      <tr>
        <th>Cart ID</th>
        <th>Show</th>
      </tr>

      <% @carts = all_approved_carts %>
      <% @carts.each do |cart| %>

          <% if cart.user == current_user %>
              <tr>
                <td><%= cart.id %></td>
                <td><%= link_to 'Show', cart_path(:cart_id => cart.id) %></td>
              </tr>
          <% end %>
      <% end %>
    </table>

    <h1>Denied Orders</h1>

    <table class="table">
      <tr>
        <th>Cart ID</th>
        <th>Show</th>
      </tr>

      <% @carts = all_denied_carts %>
      <% @carts.each do |cart| %>

          <% if cart.user == current_user %>
              <tr>
                <td><%= cart.id %></td>
                <td><%= link_to 'Show', cart_path(:cart_id => cart.id) %></td>
              </tr>
          <% end %>
      <% end %>
    </table>

    <% end %>

<% if !current_cart.is_empty %>
    <div class="btn">
        <%= link_to 'View Cart', cart_path %>
    </div>

<% end %>
