<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<div class="btn">
<%= link_to 'Edit', edit_item_path(@item) %>
</div>
<div class="btn">
<%= link_to 'Back', items_path %>
</div>
